/* style.css Weather App */
* {
  font-size: 15px;
}

body {
  padding-top: 6em;
}

#mainDiv {
  width: 380px;
  height: 520px;
  margin: auto;
  padding: 0.2em;
  display: flex;
  flex-direction: column;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Change to "100% 100%" to force fit without cropping */

  /* border: 1px solid MediumVioletRed; */
  border-radius: 0.55em;
}

h1 {
  font-size: 3em;
  margin: 0.2em auto;
  margin-bottom: 0.8em;
}

#searchDiv {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 95%;
  background: #efefef;
  border-radius: 5px;
}

#searchBtn {
  width: 10%;
  margin-left: 0;
  border: none;
  background: transparent;
}

#searchCityBar {
  width: 90%;
  font-size: 1.5em;
  color: black;
  padding: 0.2em;
  background: transparent;
  margin-right: 0;
  border: none;
}

#searchCityBar:focus {
  outline: none;
}
