/* style.css Weather App */
* {
  font-size: 16px;
}

body {
  padding-top: 6em;
}

#mainDiv {
  /* width: max(360px, 55%); */
  width: 45%;
  height: 75%;
  margin: auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid MediumVioletRed;
  border-radius: 0.55em;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.8em;
}

